.App {
  text-align: center;
}

.navbar{
  position: fixed!important;
  z-index: 1;
  top: 0;
  width: 100%;
}

.Home, .About{
  padding: 150px;
  color: darkcyan;
  background-color: black;
  width: 100%;
}

.Home h1, .About h1{
  padding: 40px;
  color: darkcyan;
  background-color: black;
  text-align: center;
}

.Contact{
  padding: 150px 80px;
  background-color: black;
}

.Contact .form-label, .Contact .form-check-label{
  color: white;
  font-weight: bold ;
}